@use "@visiativ/uik-core/theme/variables/colors" as colors;

.app-card {
  display: block;
  width:331px;
  height: 420px;

  &__container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  &__image-wrapper {
    position: relative;
    width: 100%;
    height: 280px;
    flex-shrink: 0;
    background-color: #fff;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  &__overlay {
    position: absolute;
    top: 50%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    padding: 0 65px 0 0;
  }

  &__overlay-content {
    padding: 5px;
  }

  &__overlay-logo {
    width: 17px;
  }

  &__overlay-title {
    padding-left:5px;
    color: white;
    font-weight: 600;
    font-size: 15px;
  }

  &__overlay-subtitle {
    font-size: 0.5rem;
    font-weight: 400;
    padding-left: 65%;
    color:white;
  }

  &__content {
    padding: 1rem;
    flex-shrink: 0;
  }

  &__title {
    margin: 0 0 0.5rem 0;
    font-size: 1.25rem;
    font-weight: 600;
  }

  &__product-id {
    margin: 0;
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.6);
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem 1rem 1rem;
    flex-shrink: 0;
    margin-top: auto;
  }

  &__action-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #951cff; // TODO: Use theme variable
    font-weight: 600;
  }

  &__action-icon-text {
    color: #9c27b0; // TODO: Use theme variable
  }

  &__action-icon-img {
    width: 20px;
    height: 20px;
    display: inline-block;
  }
}

