@use "./variables" as vars;

.app-page-header {
  &__toolbar {
    display: flex;
    align-items: center;
    padding: 0 vars.$spacing-standard;
    gap: 1rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 600;
    color: vars.$text-dark;
  }

  &__subtitle {
    font-size: 0.9rem;
    color: vars.$text-tertiary;
  }

  &__spacer {
    flex: 1;
  }

  &__actions {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    span{
      &.mat-badge-content{
        background-color: vars.$primary-purple;
      }

      &.uik-avatar-label-container{
        background-color: vars.$primary-purple-light;
      }
    }
  }

  &__user {
    display: inline-flex;
  }
}

