@use "@visiativ/uik-core/theme/variables/colors" as colors;
@use "./variables" as vars;

.app-selection-bar {
  &__container {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: vars.$primary-purple-alpha;
    padding: 0.75rem vars.$spacing-standard;
    border-radius: vars.$radius-lg;
    box-shadow: 0 8px 20px vars.$shadow-purple;
    color: vars.$primary-purple;

    .mat-mdc-raised-button:not(:disabled){
        background-color: vars.$primary-purple;
        color: vars.$white-bg;
    }
  }
}

